[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.1"
channels = "==2.4.0"
channels-redis = "==3.1.0"
environs = {extras = ["django"], version = "*"}

[requires]
python_version = "3.8"
