{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Cards</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
    <div class="main-container">
    {{ cards|json_script:"cards" }}
    {{ request.path|json_script:"game" }}
    {{ active_team|json_script:"active_team" }}
    <div id="root"></div>
    <p>Share this link to play with others: {{request.build_absolute_uri}}</p>
</div>
    <script src="{% static 'index-bundle.js' %}"></script>
</body>
</html>