{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Cards</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
    <div class="main-container">
        <h1 class="main-title">Code Cards</h1>
        <p>An unofficial version of Codenames</p>

        <form method="POST">
            {% csrf_token %}
            <button class="blended-color" type="submit">Start a New Game</button>
        </form>
    </div>
</body>
</html>